.App {
  text-align: center;
  margin: 20px;
  width: 800px;
  min-height: 600px;
  border: 1px solid darkgray;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
}

.header h1 {
  font-size: 2rem;
  color: white;
}

.header li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 10px;
}

button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}

ul:hover button {
  opacity: 0.2;
}

ul button:hover {
  opacity: 1;
}
