* {
  font-family: Helvetica;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#body {
  background-color: black;
} 

#root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
}